$base-color: #00b686;
$w-color: #fff;
$heading-color: #233735;
$btn-colors: #657372;
$list-colors: #7b8786;
$border-clr: #d3d7d7;

$f-regular: 400;
$f-semi-bold: 700;
$f-bold: 800;

$xsmall: 13.92px;
$small: 16px;
$medium: 17.6px;
$large: 17.92px;
$xx-large: 20px;
$hadding-font: 25px;
$h1-font: 35px;

$border: 0.0625rem solid #bdc3c2;

$blur: rgba(255, 255, 255, 0.7);
